.trapezoid-container {
    padding: 10px;
    background-color: #d7d7d7;
    border-radius: 10px;
   
}

.trapezoid {
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 90%, 80% 100%, 20% 100%, 0 90%, 0 0);
    background-color: white;
}

.silo-container {
    width: 20%;
}

.silo-note {
    width: 50%;
}